.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/fa-backend/gcs-account.json
node_modules
/fa-frontend/.react-router
/.idea/vcs.xml
/fa-frontend/build
/fa-frontend/dist
/my-commands.md
